#game {
    overflow: hidden;
    border: solid;
    width: 95vmin;
    height: 95vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    transform-origin: top left
}